<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Thermostat</title>
  <meta name="description" content="Thermostat">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

  <div id="topspace"></div>
  <div id="panel">
    <div id="display">
      CURRENT TEMP: 20°C
      <div id="display-smalltext">
        PowerSave: ON&nbsp;
        Power Use: MEDIUM
      </div>
    </div>
    <div style="height:15px"></div>
    <div id="temp-buttonholder">
      <button type="button" id="temp-buttons" onclick="alert('Hello world!')">UP</button>
      <button type="button" id="temp-buttons" onclick="alert('Hello world!')">DOWN</button>
      <button type="button" id="funct-buttons" onclick="alert('Hello world!')">RESET</button>
      <button type="button" id="funct-buttons" onclick="alert('Hello world!')">
        <div style="font-size: 10px">
        P.SAVE
        </div>
      </div>
    </div>

  </body>
  </html>
